.maplibregl-marker.custom-marker,
.maplibregl-marker.timeline-stack-marker,
.maplibregl-marker.timeline-stack-marker-highlighted {
  position: absolute !important;
  transition: none !important;
}

.maplibregl-marker.custom-marker div,
.maplibregl-marker.timeline-stack-marker,
.maplibregl-marker.timeline-stack-marker-highlighted {
  transition: none !important;
}
